@model List<FinalProject6.Models.Employee>

<h1>EmployeeMe!</h1>

<p>
    <a asp-controller="Employees" asp-action="Add">Add Employee</a>
</p>

<p>
    <a asp-controller="Employees" asp-action="Delete">Delete Employee</a>
</p>

@if (Model.Count == 0)
{
    <p>No employees yet</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Skill
            </th>
            <th>
                Hobby
            </th>
            <th>
                Employee Position
            </th>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td><a asp-controller ="Employees" asp-action="Update" asp-route-id="@emp.Id" class="btn-dark">Update</a></td>
                <td>@emp.Skill</td>
                <td>@emp.Hobby</td>
                <td>@emp.Type</td>
            </tr>
        }
    </table>
}